*{
    margin:0px;
    padding:0px;
}

body{
    
    background: radial-gradient(circle, blue,rgb(132, 30, 30));
}
 


/* Heading */

h1{
    text-align: center;
    font-size:8vmin;
    color:black;
    text-shadow: 0 0 10px blue, 0 0 20px brown;

}

/* Game-container... */

.container{
    height:65vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap:15px;
}

/* Game board... */

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5vmin;
}

/* Boxes.. */

.box{
     height:18vmin;
    width:18vmin;
    background-color: rgb(50, 19, 112);
    border:3px solid antiquewhite;
    box-shadow:0 0 60px rgb(220, 30, 140);
    border-radius: 2vmin;
    font-size:15vmin;
    text-align: center;
}

/* Reset Button.. */

#reset-btn{
    margin-top:4vmin;
     height:6vmin;
    width:15vmin; 
    border-radius:0.55rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    display:block;
    margin-left:auto;
    margin-right:auto;

}


/* Congratulations screen ... */


.msg-container{
    
    
    height: 100vmin;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   gap:2rem;
   
}

/* Congratulations message */

#msg{
    font-size:12vmin;
 
    color:#ffffff;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}

/* New Game btn... */

#new-game{
    height:6vmin;
    width:15vmin;
    border-radius:0.75vmin;
    background-color: black;
    color:white;
    font-size: 1rem;
    

}

/* Emoji. */

.emoji{
    font-size:12vmin;
    
}

/* Hide.. */

.hide{
    display: none;
}



/* Phone Responsive.... */


/* @media (max-width:600px){
    h1{
        font-size:9vmin;
        margin-top:1rem;
    }
} */